# Python
__pycache__/
*.pyc
fenv/

# Env files (CRITICAL)
.env

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Extras
Z-Future_Changes.md
Z-Understandings.md
Database_designs.md
Architecture.txt